@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./animation.scss";

.menu-item-has-children{
        .menu-child{
            display: none;
        }
    &:hover {
        .menu-child{
            display:block;
        }
    }
}

.breadcrumb_last{
    color: #CB7A01;
}

.w-fit{
    width: fit-content;
}

.h-19{
    height: 19rem;
}

.h-22{
    height: 22rem;
}

.h-28{
    height: 28rem;
}

.h-banner{
    max-height: 46rem;
    height: calc(100vh - 168px);
    min-height: 320px;
}

.quick-info{
    position: inherit;
    top: 0px;
}

.soical-plug{
    position: inherit;
    top: 0px;
}

.display-info{
    position: inherit;
    top: 0px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .display-info{
        position: relative;
        top: -70px;
    }

    .soical-plug{
        position: relative;
        top: -95px;
    }

    .quick-info{
        position: relative;
        top: -45px;
    }
}


