@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./animation.scss";

.menu-item-has-children{
        .menu-child{
            display: none;
        }
    &:hover {
        .menu-child{
            display:block;
        }
    }
}

.w-fit{
    width: fit-content;
}
